<!--<p id="notice"><%#= notice %></p>-->

<h1>お気に入り記事一覧</h1>

<table>
  <thead>
  <tr>
    <th>記事</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @favorites.each do |favorite| %>
    <tr>
      <td><%= image_tag favorite.picture.image.url %></td>
      <td><%= favorite.user.name %></td>
      <td><%= favorite.picture.content %></td>
<!--      <td><%#= link_to '詳細', favorite %></td>-->
      <!--        <td><%#= link_to '編集', edit_picture_path(favorite) %></td>-->
      <!--        <td><%#= link_to '削除', favorite, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to '記事を投稿する', new_picture_path %>
<%#= link_to 'お気に入り一覧', favorite_path %>
